1/100 Doors/dotnet/bin/Debug/netcoreapp3.1/dotnet
1/100 Doors/dotnet/bin/Debug/netcoreapp3.1/dotnet.deps.json
1/100 Doors/dotnet/bin/Debug/netcoreapp3.1/dotnet.dll
1/100 Doors/dotnet/bin/Debug/netcoreapp3.1/dotnet.pdb
1/100 Doors/dotnet/bin/Debug/netcoreapp3.1/dotnet.runtimeconfig.dev.json
1/100 Doors/dotnet/bin/Debug/netcoreapp3.1/dotnet.runtimeconfig.json
1/100 Doors/dotnet/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
1/100 Doors/dotnet/obj/Debug/netcoreapp3.1/dotnet
1/100 Doors/dotnet/obj/Debug/netcoreapp3.1/dotnet.AssemblyInfo.cs
1/100 Doors/dotnet/obj/Debug/netcoreapp3.1/dotnet.AssemblyInfoInputs.cache
1/100 Doors/dotnet/obj/Debug/netcoreapp3.1/dotnet.assets.cache
1/100 Doors/dotnet/obj/Debug/netcoreapp3.1/dotnet.csproj.CoreCompileInputs.cache
1/100 Doors/dotnet/obj/Debug/netcoreapp3.1/dotnet.csproj.FileListAbsolute.txt
1/100 Doors/dotnet/obj/Debug/netcoreapp3.1/dotnet.csprojAssemblyReference.cache
1/100 Doors/dotnet/obj/Debug/netcoreapp3.1/dotnet.dll
1/100 Doors/dotnet/obj/Debug/netcoreapp3.1/dotnet.genruntimeconfig.cache
1/100 Doors/dotnet/obj/Debug/netcoreapp3.1/dotnet.pdb
1/100 Doors/dotnet/obj/dotnet.csproj.nuget.dgspec.json
1/100 Doors/dotnet/obj/dotnet.csproj.nuget.g.props
1/100 Doors/dotnet/obj/dotnet.csproj.nuget.g.targets
1/100 Doors/dotnet/obj/project.assets.json
1/100 Doors/dotnet/obj/project.nuget.cache
.vscode/launch.json
.vscode/tasks.json
1/100 prisoners/dotnet/obj/dotnet.csproj.nuget.dgspec.json
1/100 prisoners/dotnet/obj/dotnet.csproj.nuget.g.props
1/100 prisoners/dotnet/obj/dotnet.csproj.nuget.g.targets
1/100 prisoners/dotnet/obj/project.assets.json
1/100 prisoners/dotnet/obj/project.nuget.cache
1/100 prisoners/dotnet/obj/Debug/netcoreapp3.1/dotnet.AssemblyInfo.cs
1/100 prisoners/dotnet/obj/Debug/netcoreapp3.1/dotnet.AssemblyInfoInputs.cache
1/100 prisoners/dotnet/obj/Debug/netcoreapp3.1/dotnet.assets.cache
1/100 prisoners/dotnet/dotnet.csproj
1/100 prisoners/dotnet/bin/Debug/netcoreapp3.1/dotnet
1/100 prisoners/dotnet/bin/Debug/netcoreapp3.1/dotnet.deps.json
1/100 prisoners/dotnet/bin/Debug/netcoreapp3.1/dotnet.dll
1/100 prisoners/dotnet/bin/Debug/netcoreapp3.1/dotnet.pdb
1/100 prisoners/dotnet/bin/Debug/netcoreapp3.1/dotnet.runtimeconfig.dev.json
1/100 prisoners/dotnet/bin/Debug/netcoreapp3.1/dotnet.runtimeconfig.json
1/100 prisoners/dotnet/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
1/100 prisoners/dotnet/obj/Debug/netcoreapp3.1/dotnet
1/100 prisoners/dotnet/obj/Debug/netcoreapp3.1/dotnet.csproj.CoreCompileInputs.cache
1/100 prisoners/dotnet/obj/Debug/netcoreapp3.1/dotnet.csproj.FileListAbsolute.txt
1/100 prisoners/dotnet/obj/Debug/netcoreapp3.1/dotnet.csprojAssemblyReference.cache
1/100 prisoners/dotnet/obj/Debug/netcoreapp3.1/dotnet.dll
1/100 prisoners/dotnet/obj/Debug/netcoreapp3.1/dotnet.genruntimeconfig.cache
1/100 prisoners/dotnet/obj/Debug/netcoreapp3.1/dotnet.pdb
